$media: $media-server + 'games/all-about-you/';
$sprite: $media + 'sprites-animations/';
$image: $media + 'image-assets/';
$frame: $media + 'frames/';
$font: $media + 'fonts/';

$black: #000;
$white: #fff;
